In [ ]:
!pip install pyspark 
!pip install -q findspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 63.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=27558e6159eb66dbdbaba2954237999f56758d3fb270bbc5e034f263db4b963f
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [58]:
import pyspark
import findspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, functions as f
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,TimestampType,DoubleType

In [ ]:
pyspark.__version__

'3.2.1'

In [59]:
findspark.find()

'/usr/local/lib/python3.7/dist-packages/pyspark'

In [ ]:
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('!./ngrok http 4050 &')

--2022-02-28 16:31:45--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 52.202.168.65, 54.237.133.81, 18.205.222.128, ...
Connecting to bin.equinox.io (bin.equinox.io)|52.202.168.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  5.95MB/s    in 2.2s

2022-02-28 16:31:48 (5.95 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok

In [ ]:
!sleep 10
!curl -s http://localhost:4040/api/tunnels

In [ ]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv

--2022-02-28 16:31:59--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.204.241
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.204.241|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 752335705 (717M) [text/csv]
Saving to: ‘fhvhv_tripdata_2021-01.csv’

fhvhv_tripdata_2021 100%[===================>] 717.48M  56.0MB/s    in 12s

2022-02-28 16:32:11 (61.8 MB/s) - ‘fhvhv_tripdata_2021-01.csv’ saved [752335705/752335705]

In [ ]:
schema = StructType([
    StructField("hvfhs_license_num",StringType(),True),
    StructField("dispatching_base_num",StringType(),True),
    StructField("pickup_datetime",TimestampType(),True),
    StructField("dropoff_datetime",TimestampType(),True),
    StructField("PULocationID",IntegerType(),True),
    StructField("DOLocationID",IntegerType(),True),
    StructField("SR_Flag",StringType(),True)
])

df = spark.read.options(header=True).schema(schema).csv("fhvhv_tripdata_2021-01.csv")

In [ ]:
df.printSchema()
df.show(5)

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 5 rows

In [ ]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.csv

--2022-02-28 16:32:17--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.235.225
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.235.225|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 733822658 (700M) [text/csv]
Saving to: ‘fhvhv_tripdata_2021-02.csv’

fhvhv_tripdata_2021 100%[===================>] 699.83M  58.7MB/s    in 10s

2022-02-28 16:32:28 (66.9 MB/s) - ‘fhvhv_tripdata_2021-02.csv’ saved [733822658/733822658]

In [ ]:
schema = StructType([
    StructField("hvfhs_license_num",StringType(),True),
    StructField("dispatching_base_num",StringType(),True),
    StructField("pickup_datetime",TimestampType(),True),
    StructField("dropoff_datetime",TimestampType(),True),
    StructField("PULocationID",IntegerType(),True),
    StructField("DOLocationID",IntegerType(),True),
    StructField("SR_Flag",StringType(),True)
])

dffeb = spark.read.options(header=True).schema(schema).csv("fhvhv_tripdata_2021-02.csv")

In [ ]:
dffeb.printSchema()
dffeb.show(5)

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02765|2021-02-05 15:13:57|2021-02-05 15:30:25|          71|          89|   null|
|           HV0003|              B02866|2021-02-04 11:40:47|2021-02-04 11:46:35|          20|         174|   null|
|           HV0003|              B02872|2021-02-02 13:21:54|2021-02-02 13:36:47|          78|         247|   null|
|           HV0003|              B02872|2021-02-03 22:05:16|2021-02-03 22:14:52|          75|         262|   null|
|           HV0003|              B02888|2021-02-02 16:41:27|2021-02-02 17:06:27|         138|          88|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 5 rows

In [ ]:
dffeb = dffeb.repartition(24)

In [ ]:
dffeb.write.parquet("fhvhv/2021-02/")

In [ ]:
!ls -lh fhvhv/2021-02/

total 209M
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00000-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00001-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00002-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00003-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00004-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00005-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00006-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00007-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00008-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00009-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00010-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00011-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00012-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00013-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00014-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00015-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00016-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00017-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00018-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00019-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00020-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00021-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00022-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root 8.7M Feb 28 16:39 part-00023-cd344d94-c5d4-493d-b553-0d14f8b417d6-c000.snappy.parquet
-rw-r--r-- 1 root root    0 Feb 28 16:39 _SUCCESS

In [ ]:
dffebp = spark.read.parquet("fhvhv/2021-02/")
dffebp.show(5)

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02866|2021-02-05 18:53:32|2021-02-05 19:00:26|          91|         155|   null|
|           HV0003|              B02876|2021-02-03 20:04:21|2021-02-03 20:19:09|          29|         154|   null|
|           HV0003|              B02888|2021-02-04 00:26:03|2021-02-04 00:40:33|         151|         229|   null|
|           HV0003|              B02887|2021-02-05 08:21:19|2021-02-05 08:26:49|         215|         215|   null|
|           HV0003|              B02764|2021-02-01 21:54:16|2021-02-01 22:09:23|          25|          49|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 5 rows

In [ ]:
dffebp.filter(dffebp.pickup_datetime.like("2021-02-15%")).count()

367170

In [ ]:
dffebp.createOrReplaceTempView("dffebp")

In [ ]:
dffebp = spark.sql("""
select
pickup_datetime,
dropoff_datetime,
((bigint(to_timestamp(dropoff_datetime)))-(bigint(to_timestamp(pickup_datetime))))/(60) as difference
from dffebp
order by difference desc
""").show()

+-------------------+-------------------+------------------+
|    pickup_datetime|   dropoff_datetime|        difference|
+-------------------+-------------------+------------------+
|2021-02-11 13:40:44|2021-02-12 10:39:44|            1259.0|
|2021-02-17 15:54:53|2021-02-18 07:48:34| 953.6833333333333|
|2021-02-20 12:08:15|2021-02-21 00:22:14| 733.9833333333333|
|2021-02-03 20:24:25|2021-02-04 07:41:58|            677.55|
|2021-02-19 23:17:44|2021-02-20 09:44:01| 626.2833333333333|
|2021-02-25 17:13:35|2021-02-26 02:57:05|             583.5|
|2021-02-20 01:36:13|2021-02-20 11:16:19|             580.1|
|2021-02-18 15:24:19|2021-02-19 01:01:11| 576.8666666666667|
|2021-02-18 01:31:20|2021-02-18 11:07:15| 575.9166666666666|
|2021-02-10 20:51:39|2021-02-11 06:21:08| 569.4833333333333|
|2021-02-10 01:56:17|2021-02-10 10:57:33| 541.2666666666667|
|2021-02-25 09:18:18|2021-02-25 18:18:57|            540.65|
|2021-02-21 19:59:13|2021-02-22 04:56:16|            537.05|
|2021-02-09 18:36:13|2021-02-10 03:31:00| 534.7833333333333|
|2021-02-06 09:48:09|2021-02-06 18:32:16| 524.1166666666667|
|2021-02-02 09:42:30|2021-02-02 18:17:43| 515.2166666666667|
|2021-02-10 10:12:08|2021-02-10 18:46:24| 514.2666666666667|
|2021-02-09 13:30:13|2021-02-09 22:02:25|             512.2|
|2021-02-21 22:50:52|2021-02-22 07:21:52|             511.0|
|2021-02-05 21:32:33|2021-02-06 06:01:04|508.51666666666665|
+-------------------+-------------------+------------------+
only showing top 20 rows

In [22]:
dffebp = spark.sql("""
select
dispatching_base_num, count(1) as frequentbasenum
from dffebp
group by dispatching_base_num
order by frequentbasenum desc
""").show()

+--------------------+---------------+
|dispatching_base_num|frequentbasenum|
+--------------------+---------------+
|              B02510|        3233664|
|              B02764|         965568|
|              B02872|         882689|
|              B02875|         685390|
|              B02765|         559768|
|              B02869|         429720|
|              B02887|         322331|
|              B02871|         312364|
|              B02864|         311603|
|              B02866|         311089|
|              B02878|         305185|
|              B02682|         303255|
|              B02617|         274510|
|              B02883|         251617|
|              B02884|         244963|
|              B02882|         232173|
|              B02876|         215693|
|              B02879|         210137|
|              B02867|         200530|
|              B02877|         198938|
+--------------------+---------------+
only showing top 20 rows

In [23]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-02-28 18:19:52--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.92.78
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.92.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-02-28 18:19:53 (99.7 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [28]:
df_zones = spark.read.options(header = True, inferschema = True).csv('taxi+_zone_lookup.csv')

In [29]:
df_zones.printSchema()
df_zones.show(5)

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [30]:
df_zones.write.parquet('zones/')

In [31]:
dfzones = spark.read.parquet('zones/')

In [32]:
dfzones.printSchema()
dfzones.show(5)

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [38]:
dfzones.createOrReplaceTempView("dfzones")

In [57]:
dfresult = spark.sql("""
select concat(Zone,'/',Zone) as locationpair,
count(1) as count
from dffebp f
inner join dfzones z
  on f.PULocationID = z.LocationID and f.DOLocationID = z.LocationID
group by Zone
order by count desc
""").show()

+--------------------+-----+
|        locationpair|count|
+--------------------+-----+
|East New York/Eas...|45041|
|Borough Park/Boro...|37329|
|   Canarsie/Canarsie|28026|
|Crown Heights Nor...|25976|
| Bay Ridge/Bay Ridge|17934|
|     Astoria/Astoria|14688|
|Jackson Heights/J...|14688|
|Central Harlem No...|14481|
|Bushwick South/Bu...|14424|
|Flatbush/Ditmas P...|13976|
|South Ozone Park/...|13716|
|Brownsville/Brown...|12829|
|Forest Hills/Fore...|11548|
|Prospect-Lefferts...|11308|
|     Bedford/Bedford|11021|
|Stuyvesant Height...|10675|
|   Elmhurst/Elmhurst|10604|
|Soundview/Castle ...|10519|
|Washington Height...|10165|
|Park Slope/Park S...| 9771|
+--------------------+-----+
only showing top 20 rows